.banner {
 background-image:url("../../images/download-1.jpg");
 background-size: cover;
 background-position: center;
 padding:200px 20px;
 text-align: center;
}

.banner p {
 font-size: 30px;
 margin-bottom: 40px;
 margin-top:10px;
 color: black;
}

.banner h1 {
 color:Yellow;
}